h1 {
	color: white;
}
#presidentComponent{
	background-color:#e7e9e9;
	border-radius:30px;
	padding:10px;
	box-shadow: 5px 5px 5px silver; 
}
#buttonComponent, #buttonComponent form, #buttonComponent form input{
	display: inline; 
	text-align: center;
}
#presidentImg{
	border-radius:40px;
}
#partyComponent{
	margin:auto; 
}
#presidentApp .row{
  display:inline-block;
}



